<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="common.esportschain.esports">

    <!--Normal Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--读取手机联网状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--读取WiFi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--读取手机的IEIM-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="common.esportschain.esports.EsportsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <!--邮箱登录-->
        <activity
            android:name=".ui.login.EmailLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--邮箱注册输入邮箱-->
        <activity
            android:name=".ui.login.EmailSignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--输入验证码-->
        <activity
            android:name=".ui.login.EmailSignUpCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--输入密码-->
        <activity
            android:name=".ui.login.EmailSignUpPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--上传头像昵称  注册结束-->
        <activity
            android:name=".ui.login.EmailSignUpAvatarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!--主页-->
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--修改头像跟密码-->
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--钱包-->
        <activity
            android:name=".ui.wallet.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--授权登录界面-->
        <activity
            android:name=".ui.home.BindWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--游戏详情界面-->
        <activity
            android:name=".ui.home.GamesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--绑定用户昵称显示界面-->
        <activity
            android:name=".ui.home.BindPubgAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--上传图片认证-->
        <activity
            android:name=".ui.wallet.VerifyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--友盟推送自定义接收通知-->
        <service android:name=".upush.MyPushIntentService" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="common.esportschain.esports.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>